In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
countries = pd.read_csv('countries of the world.csv')
countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [7]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
Country                               227 non-null object
Region                                227 non-null object
Population                            227 non-null int64
Area (sq. mi.)                        227 non-null int64
Pop. Density (per sq. mi.)            227 non-null object
Coastline (coast/area ratio)          227 non-null object
Net migration                         224 non-null object
Infant mortality (per 1000 births)    224 non-null object
GDP ($ per capita)                    226 non-null float64
Literacy (%)                          209 non-null object
Phones (per 1000)                     223 non-null object
Arable (%)                            225 non-null object
Crops (%)                             225 non-null object
Other (%)                             225 non-null object
Climate                               205 non-null object
Birthrate                             224 non-null object
Deathrate                             223 non-null object
Agriculture                           212 non-null object
Industry                              211 non-null object
Service                               212 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.5+ KB

In [4]:
countries.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [6]:
len(countries[countries.isna().any(axis=1)])

48

# Clean/remove Nan values

In [128]:
countries_clean = countries.drop(columns = ['Climate', 'Phones (per 1000)', 'Literacy (%)'])

In [129]:
countries_clean.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [130]:
len(countries_clean[countries_clean.isna().any(axis=1)])

19

In [131]:
countries_clean = countries_clean.dropna()

In [132]:
countries_clean.shape

(208, 17)

In [133]:
countries_clean.isnull().sum()

Country                               0
Region                                0
Population                            0
Area (sq. mi.)                        0
Pop. Density (per sq. mi.)            0
Coastline (coast/area ratio)          0
Net migration                         0
Infant mortality (per 1000 births)    0
GDP ($ per capita)                    0
Arable (%)                            0
Crops (%)                             0
Other (%)                             0
Birthrate                             0
Deathrate                             0
Agriculture                           0
Industry                              0
Service                               0
dtype: int64

In [134]:
countries_clean['Region'].unique()

array(['ASIA (EX. NEAR EAST)         ',
       'EASTERN EUROPE                     ',
       'NORTHERN AFRICA                    ',
       'SUB-SAHARAN AFRICA                 ', 'LATIN AMER. & CARIB    ',
       'C.W. OF IND. STATES ', 'OCEANIA                            ',
       'WESTERN EUROPE                     ',
       'NEAR EAST                          ',
       'NORTHERN AMERICA                   ',
       'BALTICS                            '], dtype=object)

In [135]:
countries_clean['Region'].count()

208

In [136]:
countries_clean.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Arable (%),Crops (%),Other (%),Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"12,13","0,22","87,65","46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"21,09","4,42","74,49","15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"3,22","0,25","96,53","17,14","4,61","0,101","0,6","0,298"
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"2,41","0,24","97,35","45,11","24,2","0,096","0,658","0,246"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,0,0,100,"14,17","5,34","0,04","0,18","0,78"

In [137]:
countries_clean.Region.value_counts()

SUB-SAHARAN AFRICA                     49
LATIN AMER. & CARIB                    43
ASIA (EX. NEAR EAST)                   28
WESTERN EUROPE                         23
NEAR EAST                              16
OCEANIA                                15
C.W. OF IND. STATES                    12
EASTERN EUROPE                         11
NORTHERN AFRICA                         5
NORTHERN AMERICA                        3
BALTICS                                 3
Name: Region, dtype: int64

In [153]:
#countries_clean[countries_clean['Region'] == 'NEAR EAST                          ']

In [159]:
countries_clean.replace({'Region':{'ASIA (EX. NEAR EAST)         ': 'Asia',
                                   'C.W. OF IND. STATES': 'Asia',
                                   'C.W. OF IND. STATES ': 'Asia',
                                   'ASIA (EX. NEAR EAST)         ': 'Asia',
                                   'NEAR EAST                          ': 'Asia',
                                   'EASTERN EUROPE                     ': 'Europe',
                                   'WESTERN EUROPE                     ': 'Europe',
                                   'BALTICS                            ':'Europe',
                                   'LATIN AMER. & CARIB    ': 'S. America',
                                   'NORTHERN AFRICA                    ': 'Africa',
                                   'SUB-SAHARAN AFRICA                 ': 'Africa',
                                   'OCEANIA                            ': 'Oceania',
                                   'NORTHERN AMERICA                   ': 'N. America'
                                   
    
}}).Region.value_counts()

Asia          56
Africa        54
S. America    43
Europe        37
Oceania       15
N. America     3
Name: Region, dtype: int64

In [ ]:
countries_clean.Region.hist(figsize=(12, 12))

# Setting up the data for the classifier

In [139]:
X = countries_clean.iloc[:, 3:-1].values
Y = countries_clean.iloc[:, 1:2].values

In [141]:
Y

array([['ASIA (EX. NEAR EAST)         '],
       ['EASTERN EUROPE                     '],
       ['NORTHERN AFRICA                    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['C.W. OF IND. STATES '],
       ['LATIN AMER. & CARIB    '],
       ['OCEANIA                            '],
       ['WESTERN EUROPE                     '],
       ['C.W. OF IND. STATES '],
       ['LATIN AMER. & CARIB    '],
       ['NEAR EAST                          '],
       ['ASIA (EX. NEAR EAST)         '],
       ['LATIN AMER. & CARIB    '],
       ['C.W. OF IND. STATES '],
       ['WESTERN EUROPE                     '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['NORTHERN AMERICA                   '],
       ['ASIA (EX. NEAR EAST)         '],
       ['LATIN AMER. & CARIB    '],
       ['EASTERN EUROPE                     '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['ASIA (EX. NEAR EAST)         '],
       ['EASTERN EUROPE                     '],
       ['SUB-SAHARAN AFRICA                 '],
       ['ASIA (EX. NEAR EAST)         '],
       ['SUB-SAHARAN AFRICA                 '],
       ['ASIA (EX. NEAR EAST)         '],
       ['SUB-SAHARAN AFRICA                 '],
       ['NORTHERN AMERICA                   '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['ASIA (EX. NEAR EAST)         '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['EASTERN EUROPE                     '],
       ['LATIN AMER. & CARIB    '],
       ['NEAR EAST                          '],
       ['EASTERN EUROPE                     '],
       ['WESTERN EUROPE                     '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['ASIA (EX. NEAR EAST)         '],
       ['LATIN AMER. & CARIB    '],
       ['NORTHERN AFRICA                    '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['BALTICS                            '],
       ['SUB-SAHARAN AFRICA                 '],
       ['WESTERN EUROPE                     '],
       ['OCEANIA                            '],
       ['WESTERN EUROPE                     '],
       ['WESTERN EUROPE                     '],
       ['LATIN AMER. & CARIB    '],
       ['OCEANIA                            '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['NEAR EAST                          '],
       ['C.W. OF IND. STATES '],
       ['WESTERN EUROPE                     '],
       ['SUB-SAHARAN AFRICA                 '],
       ['WESTERN EUROPE                     '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['ASIA (EX. NEAR EAST)         '],
       ['EASTERN EUROPE                     '],
       ['WESTERN EUROPE                     '],
       ['ASIA (EX. NEAR EAST)         '],
       ['ASIA (EX. NEAR EAST)         '],
       ['ASIA (EX. NEAR EAST)         '],
       ['NEAR EAST                          '],
       ['WESTERN EUROPE                     '],
       ['WESTERN EUROPE                     '],
       ['NEAR EAST                          '],
       ['WESTERN EUROPE                     '],
       ['LATIN AMER. & CARIB    '],
       ['ASIA (EX. NEAR EAST)         '],
       ['WESTERN EUROPE                     '],
       ['NEAR EAST                          '],
       ['C.W. OF IND. STATES '],
       ['SUB-SAHARAN AFRICA                 '],
       ['OCEANIA                            '],
       ['ASIA (EX. NEAR EAST)         '],
       ['ASIA (EX. NEAR EAST)         '],
       ['NEAR EAST                          '],
       ['C.W. OF IND. STATES '],
       ['ASIA (EX. NEAR EAST)         '],
       ['BALTICS                            '],
       ['NEAR EAST                          '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['NORTHERN AFRICA                    '],
       ['WESTERN EUROPE                     '],
       ['BALTICS                            '],
       ['WESTERN EUROPE                     '],
       ['ASIA (EX. NEAR EAST)         '],
       ['EASTERN EUROPE                     '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['ASIA (EX. NEAR EAST)         '],
       ['ASIA (EX. NEAR EAST)         '],
       ['SUB-SAHARAN AFRICA                 '],
       ['WESTERN EUROPE                     '],
       ['OCEANIA                            '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['OCEANIA                            '],
       ['C.W. OF IND. STATES '],
       ['ASIA (EX. NEAR EAST)         '],
       ['NORTHERN AFRICA                    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['ASIA (EX. NEAR EAST)         '],
       ['WESTERN EUROPE                     '],
       ['LATIN AMER. & CARIB    '],
       ['OCEANIA                            '],
       ['OCEANIA                            '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['WESTERN EUROPE                     '],
       ['NEAR EAST                          '],
       ['ASIA (EX. NEAR EAST)         '],
       ['OCEANIA                            '],
       ['LATIN AMER. & CARIB    '],
       ['OCEANIA                            '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['ASIA (EX. NEAR EAST)         '],
       ['EASTERN EUROPE                     '],
       ['WESTERN EUROPE                     '],
       ['LATIN AMER. & CARIB    '],
       ['NEAR EAST                          '],
       ['SUB-SAHARAN AFRICA                 '],
       ['EASTERN EUROPE                     '],
       ['C.W. OF IND. STATES '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['LATIN AMER. & CARIB    '],
       ['OCEANIA                            '],
       ['SUB-SAHARAN AFRICA                 '],
       ['NEAR EAST                          '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['ASIA (EX. NEAR EAST)         '],
       ['EASTERN EUROPE                     '],
       ['EASTERN EUROPE                     '],
       ['OCEANIA                            '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 '],
       ['WESTERN EUROPE                     '],
       ['ASIA (EX. NEAR EAST)         '],
       ['SUB-SAHARAN AFRICA                 '],
       ['LATIN AMER. & CARIB    '],
       ['SUB-SAHARAN AFRICA                 '],
       ['WESTERN EUROPE                     '],
       ['WESTERN EUROPE                     '],
       ['NEAR EAST                          '],
       ['ASIA (EX. NEAR EAST)         '],
       ['C.W. OF IND. STATES '],
       ['SUB-SAHARAN AFRICA                 '],
       ['ASIA (EX. NEAR EAST)         '],
       ['SUB-SAHARAN AFRICA                 '],
       ['OCEANIA                            '],
       ['LATIN AMER. & CARIB    '],
       ['NORTHERN AFRICA                    '],
       ['NEAR EAST                          '],
       ['C.W. OF IND. STATES '],
       ['OCEANIA                            '],
       ['SUB-SAHARAN AFRICA                 '],
       ['C.W. OF IND. STATES '],
       ['NEAR EAST                          '],
       ['WESTERN EUROPE                     '],
       ['NORTHERN AMERICA                   '],
       ['LATIN AMER. & CARIB    '],
       ['C.W. OF IND. STATES '],
       ['OCEANIA                            '],
       ['LATIN AMER. & CARIB    '],
       ['ASIA (EX. NEAR EAST)         '],
       ['LATIN AMER. & CARIB    '],
       ['NEAR EAST                          '],
       ['NEAR EAST                          '],
       ['SUB-SAHARAN AFRICA                 '],
       ['SUB-SAHARAN AFRICA                 ']], dtype=object)